.menu {
   display: flex;
   align-items: center;
   gap: 0 35px;
   &-link {
      color: inherit;
   }
   &-item.is-active {
      color: $gray-darkest;
      font-weight: 500;
   }
   &-toggle {
      display: none;
      color: $gray-darkest;
      font-size: 30px;
   }
   @media screen and (max-width: 1023.98px) {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 300px;
      background-color: white;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      z-index: 99;
      flex-direction: column;
      padding: 50px 25px 0;
      transform: translateX(110%);
      transition: all 0.2s ease-in-out;
      &.is-show {
         transform: translateX(0);
      }
      &-toggle {
         display: block;
      }
      &-item {
         margin-bottom: 20px;
         width: 100%;
         &.is-active {
            color: $primary-color;
         }
      }
      &-link {
         padding: 15px 20px;
         display: block;
      }
      .btn {
         width: 100%;
      }
   }
}