body {
   font-family: $font-primary;
   font-weight: 400;
   font-size: 16px;
   line-height: 1;
   color: $gray;
}
.heading {
   font-family: $font-secondary;
   font-weight: 700;
   color: $gray-darkest;
   font-size: 36px;
   line-height: 1.39;
   @media screen and (max-width: 767.98px) {
      font-size: 30px;
   }
}
.text {
   font-weight: 300;
   font-size: 17px;
   line-height: 1.76;
   color: $gray-darker;
   font-family: $font-tertiary;
}