$font-primary: 'Inter', sans-serif;
$font-secondary: 'Playfair Display', serif;
$font-tertiary: 'Mulish', sans-serif;
$gray: #B8BECD;
$gray-dark: #AFB0B9;
$gray-darker: #7D7987;
$gray-darkest: #202336;
$gray-blur: #80918E;
$gray-lighter: #F9F9FB;
$primary-color: #FB8F1D;
